$main-color: #190e4f;
$secondary-color: #22287a;
$accent-a: #40ffe6;
$accent-b: #3d81ff;
$accent-c: #9e59ff;
$accent-d: #ea638c;

@-webkit-keyframes star-blink {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background: $main-color;
	overflow-x: hidden;
	display: flex;
	flex-flow: column wrap;
}

.space-trip-sun {
	background: linear-gradient(to bottom, $accent-d 5%, $accent-c);
	border-radius: 99em;
	height: 15em;
	width: 15em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;

	.space-trip-part1 {
		background: $main-color;
		height: 1.5em;
		width: 100%;
		position: absolute;
		margin-top: 2em;
		margin-bottom: 2em;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;

		&:nth-child(1) {
			height: 1em;
			top: 35%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:nth-child(2) {
			height: 0.6em;
			top: 22%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:nth-child(3) {
			height: 0.4em;
			top: 12%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:nth-child(4) {
			height: 0.2em;
			top: 4%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:nth-child(5) {
			height: 1.72em;
			top: 66%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:nth-child(6) {
			height: 1.9em;
			top: 81%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.space-trip-floor {
	background: linear-gradient(to bottom, $main-color, $secondary-color);
	height: 50%;
	width: 100%;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 99.9%);
	z-index: 2;

	.space-trip-floor-part1 {
		background: $accent-c;
		height: 100%;
		width: 0.14em;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;

		&:nth-child(1) {
			left: 29.1%;
			transform: translate(-50%, -50%) skewX(45deg);
		}

		&:nth-child(2) {
			left: 70.9%;
			transform: translate(-50%, -50%) skewX(-45deg);
		}

		&:nth-child(3) {
			left: 59.7%;
			transform: translate(-50%, -50%) skewX(-25deg);
		}

		&:nth-child(4) {
			left: 40.35%;
			transform: translate(-50%, -50%) skewX(25deg);
		}

		&:nth-child(5) {
			left: 13.75%;
			transform: translate(-50%, -50%) skewX(60deg);
		}

		&:nth-child(6) {
			left: 86.22%;
			transform: translate(-50%, -50%) skewX(-60deg);
		}

		&:nth-child(7) {
			background: $accent-c;
			height: 0.1em;
			width: 100%;
			left: 50%;
			top: 2%;
			transform: translate(-50%, -50%);
			z-index: 4;
		}

		&:nth-child(8) {
			background: $accent-c;
			height: 0.18em;
			width: 100%;
			left: 50%;
			top: 20%;
			transform: translate(-50%, -50%);
			z-index: 4;
		}

		&:nth-child(9) {
			background: $accent-c;
			height: 0.18em;
			width: 100%;
			left: 50%;
			top: 36%;
			transform: translate(-50%, -50%);
			z-index: 4;
		}

		&:nth-child(10) {
			background: $accent-c;
			height: 0.18em;
			width: 100%;
			left: 50%;
			top: 52%;
			transform: translate(-50%, -50%);
			z-index: 4;
		}

		&:nth-child(11) {
			background: $accent-c;
			height: 0.18em;
			width: 100%;
			left: 50%;
			top: 68%;
			transform: translate(-50%, -50%);
			z-index: 4;
		}

		&:nth-child(12) {
			background: $accent-c;
			height: 0.18em;
			width: 100%;
			left: 50%;
			top: 81%;
			transform: translate(-50%, -50%);
			z-index: 4;
		}

		&:nth-child(13) {
			background: $accent-c;
			height: 0.18em;
			width: 100%;
			left: 50%;
			top: 92%;
			transform: translate(-50%, -50%);
			z-index: 4;
		}
	}
}

.space-trip-star {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	}
}
